<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  <section name="applicationTitle" type ="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>

  
  <applicationTitle>
    <add key="applicationTitle" value="Inbox - Work - Mozilla Thunderbird"/>
  </applicationTitle>
    
 <appSettings>
    <add key="ApplicationPath" value="C:\Program Files (x86)\Mozilla Thunderbird\thunderbird.exe"/>
  </appSettings>
</configuration>